.form-main {
    border: 5px solid rgba(0, 0, 0, 0.904);
    box-shadow: 0 0 10px rgb(170, 237, 241);
    background-color: rgba(227, 227, 240, 0.856);
    border-radius: 10px;
    min-height: 600px;
    width: 940px;
    margin: 0;
    padding: 10px;
}
.form-inputs {
    
    border: 0px solid blue;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 8px;
    min-height: 100px;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
.main-graph {
    
    min-height: 540px;
    margin: 10px 0 0 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-graph {
    border: 10px solid black;
    width: 100%;
    min-height: 500px;
}

.result-graph {
    border: 10px solid black;
    width: 100%;
    min-height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-inputs-main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
}
.form-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10px;
}
.inputs {
    width: 150px;
    height: 30px;
    text-decoration-color: rgb(135, 28, 28);
    color: black;
    font-weight: bold;
}

.style-link {
    padding : 10px 10px;
    margin: 80px;
    color: white;
    font-weight: bold;
}
.link {
    color: rgb(156, 175, 185);
}
.button {
    display:block;
    padding: 10px 21px;
    border: none;
    color:rgb(170, 237, 241);
    font-size: 18px;
    background-color: #134655;
    border-radius: 3px;
    cursor: pointer;
    border-bottom: 3px solid #237085;
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
}
.button:hover{
    transition: all .4s;
    background-color: #237085;
}
.image {
    margin: 20px;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btndownload {
    padding: 10px 21px;
    border: none;
    color:rgb(170, 237, 241);
    font-size: 18px;
    background-color: #bc5b15;
    border-radius: 3px;
    cursor: pointer;
    border-bottom: 3px solid #b57e1f;
    font-family: sans-serif;
    text-align: center;
}
.btndownload:hover{
    transition: all .4s;
    background-color: #dfa214;
}

.btnconvert {
    display: flex;
    padding: 10px 21px;
    border: none;
    color:rgb(170, 237, 241);
    font-size: 18px;
    background-color: #134655;
    border-radius: 3px;
    cursor: pointer;
    border-bottom: 3px solid #237085;
    font-family: sans-serif;
    text-align: center;
    margin-left: 150px;
}
.btnconvert:hover{
    transition: all .4s;
    border-bottom: 3px solid #237085;
}

.btnrefresh {
    display: flex;
    padding: 10px 21px;
    border: none;
    color:rgb(170, 237, 241);
    font-size: 18px;
    background-color: #134655;
    border-radius: 3px;
    cursor: pointer;
    border-bottom: 3px solid #237085;
    font-family: sans-serif;
    text-align: center;
    margin-left: 170px;
    margin-top: 10px;
}
.btnrefresh:hover{
    transition: all .4s;
    border-bottom: 3px solid #237085;
}
